[Unit]
Description=wukong-backend app
Wants=network.target network-online.target
After=network.target network-online.target

[Service]
Type=simple
ExecStartPre=
ExecStart=aliddns_linux -c aliddns.yaml
ExecReload=
ExecStop=
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target
